/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@font-face {
  font-family: "Proxima Nova";
  src:font-url('proxima/Proxima-Nova-Regular.eot');
  src:font-url('proxima/Proxima-Nova-Regular.eot?#iefix') format('embedded-opentype'),
      font-url('proxima/Proxima-Nova-Regular.woff') format('woff'),
      font-url('proxima/Proxima-Nova-Regular.woff2') format('woff2'),
      font-url('proxima/Proxima-Nova-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova";
  src:font-url('proxima/Proxima-Nova-Bold.eot');
  src:font-url('proxima/Proxima-Nova-Bold.eot?#iefix') format('embedded-opentype'),
      font-url('proxima/Proxima-Nova-Bold.woff') format('woff'),
      font-url('proxima/Proxima-Nova-Bold.woff2') format('woff2'),
      font-url('proxima/Proxima-Nova-Bold.ttf') format('truetype');
  font-weight: 700;
}

$base-font: "Proxima Nova", "Helvetica", "sans-serif", sans-serif;
$headings-font: "Proxima Nova", "Helvetica", "sans-serif", sans-serif;;

// Typography variables
$base-size: 16px;
$base-height: 1.4;
$base-weight: 400;

$headings-weight: 700;
$headings-color: #404D5C;

// Color Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

$body-background-color: #FCFCFC;
